/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}
:root {
    line-height: 1.5;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol, ul {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    text-align: inherit;
}:root {
  --md-source: #d6814a;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #1d0800;
  --md-ref-palette-primary5: #220a00;
  --md-ref-palette-primary6: #250c00;
  --md-ref-palette-primary10: #321300;
  --md-ref-palette-primary12: #381600;
  --md-ref-palette-primary17: #481e00;
  --md-ref-palette-primary20: #522300;
  --md-ref-palette-primary22: #592600;
  --md-ref-palette-primary24: #602a00;
  --md-ref-palette-primary25: #632b00;
  --md-ref-palette-primary30: #753400;
  --md-ref-palette-primary35: #873d00;
  --md-ref-palette-primary40: #96490c;
  --md-ref-palette-primary50: #b56025;
  --md-ref-palette-primary60: #d5793c;
  --md-ref-palette-primary70: #f59353;
  --md-ref-palette-primary80: #ffb68b;
  --md-ref-palette-primary87: #ffd0b7;
  --md-ref-palette-primary90: #ffdbc8;
  --md-ref-palette-primary92: #ffe3d4;
  --md-ref-palette-primary94: #ffeadf;
  --md-ref-palette-primary95: #ffede5;
  --md-ref-palette-primary96: #fff1ea;
  --md-ref-palette-primary98: #fff8f5;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #1b0901;
  --md-ref-palette-secondary5: #1f0c02;
  --md-ref-palette-secondary6: #210e04;
  --md-ref-palette-secondary10: #2b1609;
  --md-ref-palette-secondary12: #301a0d;
  --md-ref-palette-secondary17: #3c2516;
  --md-ref-palette-secondary20: #432b1c;
  --md-ref-palette-secondary22: #482f20;
  --md-ref-palette-secondary24: #4d3324;
  --md-ref-palette-secondary25: #4f3626;
  --md-ref-palette-secondary30: #5c4131;
  --md-ref-palette-secondary35: #694c3c;
  --md-ref-palette-secondary40: #765847;
  --md-ref-palette-secondary50: #90705e;
  --md-ref-palette-secondary60: #ac8a76;
  --md-ref-palette-secondary70: #c8a48f;
  --md-ref-palette-secondary80: #e5bfa9;
  --md-ref-palette-secondary87: #fad2bc;
  --md-ref-palette-secondary90: #ffdbc8;
  --md-ref-palette-secondary92: #ffe3d4;
  --md-ref-palette-secondary94: #ffeadf;
  --md-ref-palette-secondary95: #ffede5;
  --md-ref-palette-secondary96: #fff1ea;
  --md-ref-palette-secondary98: #fff8f5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #0f0f00;
  --md-ref-palette-tertiary5: #121200;
  --md-ref-palette-tertiary6: #151400;
  --md-ref-palette-tertiary10: #1d1d00;
  --md-ref-palette-tertiary12: #212100;
  --md-ref-palette-tertiary17: #2c2b04;
  --md-ref-palette-tertiary20: #333209;
  --md-ref-palette-tertiary22: #37360d;
  --md-ref-palette-tertiary24: #3c3b11;
  --md-ref-palette-tertiary25: #3e3d13;
  --md-ref-palette-tertiary30: #4a491e;
  --md-ref-palette-tertiary35: #555428;
  --md-ref-palette-tertiary40: #626033;
  --md-ref-palette-tertiary50: #7b7949;
  --md-ref-palette-tertiary60: #959361;
  --md-ref-palette-tertiary70: #b0ae79;
  --md-ref-palette-tertiary80: #ccc992;
  --md-ref-palette-tertiary87: #dfdda4;
  --md-ref-palette-tertiary90: #e8e5ac;
  --md-ref-palette-tertiary92: #eeebb1;
  --md-ref-palette-tertiary94: #f4f1b6;
  --md-ref-palette-tertiary95: #f7f4b9;
  --md-ref-palette-tertiary96: #f9f6bc;
  --md-ref-palette-tertiary98: #fffcc9;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #120d0a;
  --md-ref-palette-neutral5: #15100d;
  --md-ref-palette-neutral6: #18120f;
  --md-ref-palette-neutral10: #201a17;
  --md-ref-palette-neutral12: #241e1b;
  --md-ref-palette-neutral17: #2f2925;
  --md-ref-palette-neutral20: #362f2c;
  --md-ref-palette-neutral22: #3a3330;
  --md-ref-palette-neutral24: #3f3834;
  --md-ref-palette-neutral25: #413a36;
  --md-ref-palette-neutral30: #4d4541;
  --md-ref-palette-neutral35: #59514d;
  --md-ref-palette-neutral40: #655d59;
  --md-ref-palette-neutral50: #7e7571;
  --md-ref-palette-neutral60: #998f8a;
  --md-ref-palette-neutral70: #b4a9a4;
  --md-ref-palette-neutral80: #d0c4bf;
  --md-ref-palette-neutral87: #e4d8d2;
  --md-ref-palette-neutral90: #ece0db;
  --md-ref-palette-neutral92: #f2e6e0;
  --md-ref-palette-neutral94: #f8ebe6;
  --md-ref-palette-neutral95: #fbeee9;
  --md-ref-palette-neutral96: #fef1eb;
  --md-ref-palette-neutral98: #fff8f5;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #160c07;
  --md-ref-palette-neutral-variant5: #190f09;
  --md-ref-palette-neutral-variant6: #1b110b;
  --md-ref-palette-neutral-variant10: #241913;
  --md-ref-palette-neutral-variant12: #291d17;
  --md-ref-palette-neutral-variant17: #342720;
  --md-ref-palette-neutral-variant20: #3a2e27;
  --md-ref-palette-neutral-variant22: #3f322b;
  --md-ref-palette-neutral-variant24: #44362f;
  --md-ref-palette-neutral-variant25: #463931;
  --md-ref-palette-neutral-variant30: #52443c;
  --md-ref-palette-neutral-variant35: #5e4f47;
  --md-ref-palette-neutral-variant40: #6b5b53;
  --md-ref-palette-neutral-variant50: #85746b;
  --md-ref-palette-neutral-variant60: #9f8d84;
  --md-ref-palette-neutral-variant70: #bba79d;
  --md-ref-palette-neutral-variant80: #d7c2b8;
  --md-ref-palette-neutral-variant87: #ebd6cb;
  --md-ref-palette-neutral-variant90: #f4ded3;
  --md-ref-palette-neutral-variant92: #fae4d9;
  --md-ref-palette-neutral-variant94: #ffeadf;
  --md-ref-palette-neutral-variant95: #ffede5;
  --md-ref-palette-neutral-variant96: #fff1ea;
  --md-ref-palette-neutral-variant98: #fff8f5;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #96490c;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdbc8;
  --md-sys-color-on-primary-container-light: #321300;
  --md-sys-color-primary-fixed-light: #ffdbc8;
  --md-sys-color-on-primary-fixed-light: #321300;
  --md-sys-color-primary-fixed-dim-light: #ffb68b;
  --md-sys-color-on-primary-fixed-variant-light: #753400;
  --md-sys-color-secondary-light: #765847;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdbc8;
  --md-sys-color-on-secondary-container-light: #2b1609;
  --md-sys-color-secondary-fixed-light: #ffdbc8;
  --md-sys-color-on-secondary-fixed-light: #2b1609;
  --md-sys-color-secondary-fixed-dim-light: #e5bfa9;
  --md-sys-color-on-secondary-fixed-variant-light: #5c4131;
  --md-sys-color-tertiary-light: #626033;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #e8e5ac;
  --md-sys-color-on-tertiary-container-light: #1d1d00;
  --md-sys-color-tertiary-fixed-light: #e8e5ac;
  --md-sys-color-on-tertiary-fixed-light: #1d1d00;
  --md-sys-color-tertiary-fixed-dim-light: #ccc992;
  --md-sys-color-on-tertiary-fixed-variant-light: #4a491e;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a17;
  --md-sys-color-outline-light: #85746b;
  --md-sys-color-inverse-on-surface-light: #fbeee9;
  --md-sys-color-inverse-surface-light: #362f2c;
  --md-sys-color-inverse-primary-light: #ffb68b;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #96490c;
  --md-sys-color-outline-variant-light: #d7c2b8;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f5;
  --md-sys-color-on-surface-light: #201a17;
  --md-sys-color-surface-variant-light: #f4ded3;
  --md-sys-color-on-surface-variant-light: #52443c;
  --md-sys-color-surface-container-highest-light: #ece0db;
  --md-sys-color-surface-container-high-light: #f2e6e0;
  --md-sys-color-surface-container-light: #f8ebe6;
  --md-sys-color-surface-container-low-light: #fef1eb;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e4d8d2;
  --md-sys-color-surface-bright-light: #fff8f5;
  /* dark */
  --md-sys-color-primary-dark: #ffb68b;
  --md-sys-color-on-primary-dark: #522300;
  --md-sys-color-primary-container-dark: #753400;
  --md-sys-color-on-primary-container-dark: #ffdbc8;
  --md-sys-color-primary-fixed-dark: #ffdbc8;
  --md-sys-color-on-primary-fixed-dark: #321300;
  --md-sys-color-primary-fixed-dim-dark: #ffb68b;
  --md-sys-color-on-primary-fixed-variant-dark: #753400;
  --md-sys-color-secondary-dark: #e5bfa9;
  --md-sys-color-on-secondary-dark: #432b1c;
  --md-sys-color-secondary-container-dark: #5c4131;
  --md-sys-color-on-secondary-container-dark: #ffdbc8;
  --md-sys-color-secondary-fixed-dark: #ffdbc8;
  --md-sys-color-on-secondary-fixed-dark: #2b1609;
  --md-sys-color-secondary-fixed-dim-dark: #e5bfa9;
  --md-sys-color-on-secondary-fixed-variant-dark: #5c4131;
  --md-sys-color-tertiary-dark: #ccc992;
  --md-sys-color-on-tertiary-dark: #333209;
  --md-sys-color-tertiary-container-dark: #4a491e;
  --md-sys-color-on-tertiary-container-dark: #e8e5ac;
  --md-sys-color-tertiary-fixed-dark: #e8e5ac;
  --md-sys-color-on-tertiary-fixed-dark: #1d1d00;
  --md-sys-color-tertiary-fixed-dim-dark: #ccc992;
  --md-sys-color-on-tertiary-fixed-variant-dark: #4a491e;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a17;
  --md-sys-color-on-background-dark: #ece0db;
  --md-sys-color-outline-dark: #9f8d84;
  --md-sys-color-inverse-on-surface-dark: #201a17;
  --md-sys-color-inverse-surface-dark: #ece0db;
  --md-sys-color-inverse-primary-dark: #96490c;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb68b;
  --md-sys-color-outline-variant-dark: #52443c;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #18120f;
  --md-sys-color-on-surface-dark: #d0c4bf;
  --md-sys-color-surface-variant-dark: #52443c;
  --md-sys-color-on-surface-variant-dark: #d7c2b8;
  --md-sys-color-surface-container-highest-dark: #3a3330;
  --md-sys-color-surface-container-high-dark: #2f2925;
  --md-sys-color-surface-container-dark: #241e1b;
  --md-sys-color-surface-container-low-dark: #201a17;
  --md-sys-color-surface-container-lowest-dark: #120d0a;
  --md-sys-color-surface-dim-dark: #18120f;
  --md-sys-color-surface-bright-dark: #3f3834;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
.primary {
  background-color: var(--md-sys-color-primary);
}
.primary-text {
  color: var(--md-sys-color-primary);
}
.on-primary {
  background-color: var(--md-sys-color-on-primary);
}
.on-primary-text {
  color: var(--md-sys-color-on-primary);
}
.primary-container {
  background-color: var(--md-sys-color-primary-container);
}
.primary-container-text {
  color: var(--md-sys-color-primary-container);
}
.on-primary-container {
  background-color: var(--md-sys-color-on-primary-container);
}
.on-primary-container-text {
  color: var(--md-sys-color-on-primary-container);
}
.primary-fixed {
  background-color: var(--md-sys-color-primary-fixed);
}
.primary-fixed-text {
  color: var(--md-sys-color-primary-fixed);
}
.on-primary-fixed {
  background-color: var(--md-sys-color-on-primary-fixed);
}
.on-primary-fixed-text {
  color: var(--md-sys-color-on-primary-fixed);
}
.primary-fixed-dim {
  background-color: var(--md-sys-color-primary-fixed-dim);
}
.primary-fixed-dim-text {
  color: var(--md-sys-color-primary-fixed-dim);
}
.on-primary-fixed-variant {
  background-color: var(--md-sys-color-on-primary-fixed-variant);
}
.on-primary-fixed-variant-text {
  color: var(--md-sys-color-on-primary-fixed-variant);
}
.secondary {
  background-color: var(--md-sys-color-secondary);
}
.secondary-text {
  color: var(--md-sys-color-secondary);
}
.on-secondary {
  background-color: var(--md-sys-color-on-secondary);
}
.on-secondary-text {
  color: var(--md-sys-color-on-secondary);
}
.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
}
.secondary-container-text {
  color: var(--md-sys-color-secondary-container);
}
.on-secondary-container {
  background-color: var(--md-sys-color-on-secondary-container);
}
.on-secondary-container-text {
  color: var(--md-sys-color-on-secondary-container);
}
.secondary-fixed {
  background-color: var(--md-sys-color-secondary-fixed);
}
.secondary-fixed-text {
  color: var(--md-sys-color-secondary-fixed);
}
.on-secondary-fixed {
  background-color: var(--md-sys-color-on-secondary-fixed);
}
.on-secondary-fixed-text {
  color: var(--md-sys-color-on-secondary-fixed);
}
.secondary-fixed-dim {
  background-color: var(--md-sys-color-secondary-fixed-dim);
}
.secondary-fixed-dim-text {
  color: var(--md-sys-color-secondary-fixed-dim);
}
.on-secondary-fixed-variant {
  background-color: var(--md-sys-color-on-secondary-fixed-variant);
}
.on-secondary-fixed-variant-text {
  color: var(--md-sys-color-on-secondary-fixed-variant);
}
.tertiary {
  background-color: var(--md-sys-color-tertiary);
}
.tertiary-text {
  color: var(--md-sys-color-tertiary);
}
.on-tertiary {
  background-color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-text {
  color: var(--md-sys-color-on-tertiary);
}
.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
}
.tertiary-container-text {
  color: var(--md-sys-color-tertiary-container);
}
.on-tertiary-container {
  background-color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary-container-text {
  color: var(--md-sys-color-on-tertiary-container);
}
.tertiary-fixed {
  background-color: var(--md-sys-color-tertiary-fixed);
}
.tertiary-fixed-text {
  color: var(--md-sys-color-tertiary-fixed);
}
.on-tertiary-fixed {
  background-color: var(--md-sys-color-on-tertiary-fixed);
}
.on-tertiary-fixed-text {
  color: var(--md-sys-color-on-tertiary-fixed);
}
.tertiary-fixed-dim {
  background-color: var(--md-sys-color-tertiary-fixed-dim);
}
.tertiary-fixed-dim-text {
  color: var(--md-sys-color-tertiary-fixed-dim);
}
.on-tertiary-fixed-variant {
  background-color: var(--md-sys-color-on-tertiary-fixed-variant);
}
.on-tertiary-fixed-variant-text {
  color: var(--md-sys-color-on-tertiary-fixed-variant);
}
.error {
  background-color: var(--md-sys-color-error);
}
.error-text {
  color: var(--md-sys-color-error);
}
.error-container {
  background-color: var(--md-sys-color-error-container);
}
.error-container-text {
  color: var(--md-sys-color-error-container);
}
.on-error {
  background-color: var(--md-sys-color-on-error);
}
.on-error-text {
  color: var(--md-sys-color-on-error);
}
.on-error-container {
  background-color: var(--md-sys-color-on-error-container);
}
.on-error-container-text {
  color: var(--md-sys-color-on-error-container);
}
.background {
  background-color: var(--md-sys-color-background);
}
.background-text {
  color: var(--md-sys-color-background);
}
.on-background {
  background-color: var(--md-sys-color-on-background);
}
.on-background-text {
  color: var(--md-sys-color-on-background);
}
.outline {
  background-color: var(--md-sys-color-outline);
}
.outline-text {
  color: var(--md-sys-color-outline);
}
.inverse-on-surface {
  background-color: var(--md-sys-color-inverse-on-surface);
}
.inverse-on-surface-text {
  color: var(--md-sys-color-inverse-on-surface);
}
.inverse-surface {
  background-color: var(--md-sys-color-inverse-surface);
}
.inverse-surface-text {
  color: var(--md-sys-color-inverse-surface);
}
.inverse-primary {
  background-color: var(--md-sys-color-inverse-primary);
}
.inverse-primary-text {
  color: var(--md-sys-color-inverse-primary);
}
.shadow {
  background-color: var(--md-sys-color-shadow);
}
.shadow-text {
  color: var(--md-sys-color-shadow);
}
.surface-tint {
  background-color: var(--md-sys-color-surface-tint);
}
.surface-tint-text {
  color: var(--md-sys-color-surface-tint);
}
.outline-variant {
  background-color: var(--md-sys-color-outline-variant);
}
.outline-variant-text {
  color: var(--md-sys-color-outline-variant);
}
.scrim {
  background-color: var(--md-sys-color-scrim);
}
.scrim-text {
  color: var(--md-sys-color-scrim);
}
.surface {
  background-color: var(--md-sys-color-surface);
}
.surface-text {
  color: var(--md-sys-color-surface);
}
.on-surface {
  background-color: var(--md-sys-color-on-surface);
}
.on-surface-text {
  color: var(--md-sys-color-on-surface);
}
.surface-variant {
  background-color: var(--md-sys-color-surface-variant);
}
.surface-variant-text {
  color: var(--md-sys-color-surface-variant);
}
.on-surface-variant {
  background-color: var(--md-sys-color-on-surface-variant);
}
.on-surface-variant-text {
  color: var(--md-sys-color-on-surface-variant);
}
.surface-container-highest {
  background-color: var(--md-sys-color-surface-container-highest);
}
.surface-container-highest-text {
  color: var(--md-sys-color-surface-container-highest);
}
.surface-container-high {
  background-color: var(--md-sys-color-surface-container-high);
}
.surface-container-high-text {
  color: var(--md-sys-color-surface-container-high);
}
.surface-container {
  background-color: var(--md-sys-color-surface-container);
}
.surface-container-text {
  color: var(--md-sys-color-surface-container);
}
.surface-container-low {
  background-color: var(--md-sys-color-surface-container-low);
}
.surface-container-low-text {
  color: var(--md-sys-color-surface-container-low);
}
.surface-container-lowest {
  background-color: var(--md-sys-color-surface-container-lowest);
}
.surface-container-lowest-text {
  color: var(--md-sys-color-surface-container-lowest);
}
.surface-dim {
  background-color: var(--md-sys-color-surface-dim);
}
.surface-dim-text {
  color: var(--md-sys-color-surface-dim);
}
.surface-bright {
  background-color: var(--md-sys-color-surface-bright);
}
.surface-bright-text {
  color: var(--md-sys-color-surface-bright);
}
.display-large{
  font-family: var(--md-sys-typescale-display-large-font-family-name);
  font-style: var(--md-sys-typescale-display-large-font-family-style);
  font-weight: var(--md-sys-typescale-display-large-font-weight);
  font-size: var(--md-sys-typescale-display-large-font-size);
  letter-spacing: var(--md-sys-typescale-display-large-tracking);
  line-height: var(--md-sys-typescale-display-large-height);
  text-transform: var(--md-sys-typescale-display-large-text-transform);
  text-decoration: var(--md-sys-typescale-display-large-text-decoration);
}
.display-medium{
  font-family: var(--md-sys-typescale-display-medium-font-family-name);
  font-style: var(--md-sys-typescale-display-medium-font-family-style);
  font-weight: var(--md-sys-typescale-display-medium-font-weight);
  font-size: var(--md-sys-typescale-display-medium-font-size);
  letter-spacing: var(--md-sys-typescale-display-medium-tracking);
  line-height: var(--md-sys-typescale-display-medium-height);
  text-transform: var(--md-sys-typescale-display-medium-text-transform);
  text-decoration: var(--md-sys-typescale-display-medium-text-decoration);
}
.display-small{
  font-family: var(--md-sys-typescale-display-small-font-family-name);
  font-style: var(--md-sys-typescale-display-small-font-family-style);
  font-weight: var(--md-sys-typescale-display-small-font-weight);
  font-size: var(--md-sys-typescale-display-small-font-size);
  letter-spacing: var(--md-sys-typescale-display-small-tracking);
  line-height: var(--md-sys-typescale-display-small-height);
  text-transform: var(--md-sys-typescale-display-small-text-transform);
  text-decoration: var(--md-sys-typescale-display-small-text-decoration);
}
.headline-large{
  font-family: var(--md-sys-typescale-headline-large-font-family-name);
  font-style: var(--md-sys-typescale-headline-large-font-family-style);
  font-weight: var(--md-sys-typescale-headline-large-font-weight);
  font-size: var(--md-sys-typescale-headline-large-font-size);
  letter-spacing: var(--md-sys-typescale-headline-large-tracking);
  line-height: var(--md-sys-typescale-headline-large-height);
  text-transform: var(--md-sys-typescale-headline-large-text-transform);
  text-decoration: var(--md-sys-typescale-headline-large-text-decoration);
}
.headline-medium{
  font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  font-style: var(--md-sys-typescale-headline-medium-font-family-style);
  font-weight: var(--md-sys-typescale-headline-medium-font-weight);
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
  line-height: var(--md-sys-typescale-headline-medium-height);
  text-transform: var(--md-sys-typescale-headline-medium-text-transform);
  text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
}
.headline-small{
  font-family: var(--md-sys-typescale-headline-small-font-family-name);
  font-style: var(--md-sys-typescale-headline-small-font-family-style);
  font-weight: var(--md-sys-typescale-headline-small-font-weight);
  font-size: var(--md-sys-typescale-headline-small-font-size);
  letter-spacing: var(--md-sys-typescale-headline-small-tracking);
  line-height: var(--md-sys-typescale-headline-small-height);
  text-transform: var(--md-sys-typescale-headline-small-text-transform);
  text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
}
.body-large{
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  font-style: var(--md-sys-typescale-body-large-font-family-style);
  font-weight: var(--md-sys-typescale-body-large-font-weight);
  font-size: var(--md-sys-typescale-body-large-font-size);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  line-height: var(--md-sys-typescale-body-large-height);
  text-transform: var(--md-sys-typescale-body-large-text-transform);
  text-decoration: var(--md-sys-typescale-body-large-text-decoration);
}
.body-medium{
  font-family: var(--md-sys-typescale-body-medium-font-family-name);
  font-style: var(--md-sys-typescale-body-medium-font-family-style);
  font-weight: var(--md-sys-typescale-body-medium-font-weight);
  font-size: var(--md-sys-typescale-body-medium-font-size);
  letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  line-height: var(--md-sys-typescale-body-medium-height);
  text-transform: var(--md-sys-typescale-body-medium-text-transform);
  text-decoration: var(--md-sys-typescale-body-medium-text-decoration);
}
.body-small{
  font-family: var(--md-sys-typescale-body-small-font-family-name);
  font-style: var(--md-sys-typescale-body-small-font-family-style);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  letter-spacing: var(--md-sys-typescale-body-small-tracking);
  line-height: var(--md-sys-typescale-body-small-height);
  text-transform: var(--md-sys-typescale-body-small-text-transform);
  text-decoration: var(--md-sys-typescale-body-small-text-decoration);
}
.label-large{
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  line-height: var(--md-sys-typescale-label-large-height);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  text-decoration: var(--md-sys-typescale-label-large-text-decoration);
}
.label-medium{
  font-family: var(--md-sys-typescale-label-medium-font-family-name);
  font-style: var(--md-sys-typescale-label-medium-font-family-style);
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  letter-spacing: var(--md-sys-typescale-label-medium-tracking);
  line-height: var(--md-sys-typescale-label-medium-height);
  text-transform: var(--md-sys-typescale-label-medium-text-transform);
  text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
}
.label-small{
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-style: var(--md-sys-typescale-label-small-font-family-style);
  font-weight: var(--md-sys-typescale-label-small-font-weight);
  font-size: var(--md-sys-typescale-label-small-font-size);
  letter-spacing: var(--md-sys-typescale-label-small-tracking);
  line-height: var(--md-sys-typescale-label-small-height);
  text-transform: var(--md-sys-typescale-label-small-text-transform);
  text-decoration: var(--md-sys-typescale-label-small-text-decoration);
}
.title-large{
  font-family: var(--md-sys-typescale-title-large-font-family-name);
  font-style: var(--md-sys-typescale-title-large-font-family-style);
  font-weight: var(--md-sys-typescale-title-large-font-weight);
  font-size: var(--md-sys-typescale-title-large-font-size);
  letter-spacing: var(--md-sys-typescale-title-large-tracking);
  line-height: var(--md-sys-typescale-title-large-height);
  text-transform: var(--md-sys-typescale-title-large-text-transform);
  text-decoration: var(--md-sys-typescale-title-large-text-decoration);
}
.title-medium{
  font-family: var(--md-sys-typescale-title-medium-font-family-name);
  font-style: var(--md-sys-typescale-title-medium-font-family-style);
  font-weight: var(--md-sys-typescale-title-medium-font-weight);
  font-size: var(--md-sys-typescale-title-medium-font-size);
  letter-spacing: var(--md-sys-typescale-title-medium-tracking);
  line-height: var(--md-sys-typescale-title-medium-height);
  text-transform: var(--md-sys-typescale-title-medium-text-transform);
  text-decoration: var(--md-sys-typescale-title-medium-text-decoration);
}
.title-small{
  font-family: var(--md-sys-typescale-title-small-font-family-name);
  font-style: var(--md-sys-typescale-title-small-font-family-style);
  font-weight: var(--md-sys-typescale-title-small-font-weight);
  font-size: var(--md-sys-typescale-title-small-font-size);
  letter-spacing: var(--md-sys-typescale-title-small-tracking);
  line-height: var(--md-sys-typescale-title-small-height);
  text-transform: var(--md-sys-typescale-title-small-text-transform);
  text-decoration: var(--md-sys-typescale-title-small-text-decoration);
}
@media (prefers-color-scheme: light) {
:root {
 --md-sys-color-primary: var(--md-sys-color-primary-light);
 --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
 --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
 --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
 --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
 --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
 --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
 --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);
 --md-sys-color-secondary: var(--md-sys-color-secondary-light);
 --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
 --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
 --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
 --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
 --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
 --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light);
 --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);
 --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
 --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
 --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
 --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
 --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
 --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
 --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light);
 --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);
 --md-sys-color-error: var(--md-sys-color-error-light);
 --md-sys-color-error-container: var(--md-sys-color-error-container-light);
 --md-sys-color-on-error: var(--md-sys-color-on-error-light);
 --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
 --md-sys-color-background: var(--md-sys-color-background-light);
 --md-sys-color-on-background: var(--md-sys-color-on-background-light);
 --md-sys-color-outline: var(--md-sys-color-outline-light);
 --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
 --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
 --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
 --md-sys-color-shadow: var(--md-sys-color-shadow-light);
 --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
 --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
 --md-sys-color-scrim: var(--md-sys-color-scrim-light);
 --md-sys-color-surface: var(--md-sys-color-surface-light);
 --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
 --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
 --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
 --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
 --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
 --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
 --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
 --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
 --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);
 --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);
}
}
@media (prefers-color-scheme: dark) {
:root {
 --md-sys-color-primary: var(--md-sys-color-primary-dark);
 --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
 --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
 --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
 --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
 --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
 --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
 --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
 --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
 --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
 --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
 --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
 --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
 --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
 --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
 --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
 --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
 --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
 --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
 --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
 --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
 --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
 --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
 --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
 --md-sys-color-error: var(--md-sys-color-error-dark);
 --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
 --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
 --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
 --md-sys-color-background: var(--md-sys-color-background-dark);
 --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
 --md-sys-color-outline: var(--md-sys-color-outline-dark);
 --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
 --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
 --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
 --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
 --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
 --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
 --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
 --md-sys-color-surface: var(--md-sys-color-surface-dark);
 --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
 --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
 --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
 --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
 --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
 --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
 --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
 --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
 --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
 --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
}
}
.container.svelte-1h2iowf{background-color:var(--md-sys-color-surface);color:var(--md-sys-color-on-surface);min-height:100vh}